<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsu.old.mapper.DevelopmentMapper">


    <update id="updateByPatentNumber" parameterType="com.jsu.entity.DevelopmentPatent">
        UPDATE development_patent
        <set>
            <!-- 动态更新字段 -->
            <if test="studentNumber != null and studentNumber != ''">
                student_number = #{studentNumber},
            </if>

            <if test="studentName != null and studentName != ''">
                student_name = #{studentName},
            </if>

            <if test="patentName != null and patentName != ''">
                patent_name = #{patentName},
            </if>
            <if test="patentNumber != null and patentNumber != ''">
                patent_number = #{patentNumber},
            </if>

            <if test="patentApplicationTime != null">
                patent_application_time = #{patentApplicationTime},
            </if>

            <if test="patentee != null and patentee != ''">
                patentee = #{patentee},
            </if>

            <if test="authorizationAnnouncementDate != null">
                authorization_announcement_date = #{authorizationAnnouncementDate},
            </if>

            <if test="issuingDepartment != null and issuingDepartment != ''">
                issuing_department = #{issuingDepartment},
            </if>

            <if test="photo != null and photo != ''">
                photo = #{photo},
            </if>
        </set>
        WHERE patent_number = #{patentNumber}
    </update>
    <update id="createDevelopmentPatent">
        INSERT IGNORE INTO development_patent (
        student_number,
        student_name,
        patent_name,
        patent_number,
        patent_application_time,
        patentee,
        authorization_announcement_date,
        issuing_department,
               photo,
        ) VALUES
        <foreach collection="developmentPatents" item="item" separator=",">
            (
                #{item.studentNumber},
                #{item.studentName},
                #{item.patentName},
                #{item.patentNumber},
                #{item.patentApplicationTime},
                #{item.patentee},
                #{item.authorizationAnnouncementDate},
                #{item.issuingDepartment},
                #{photo}
            )
        </foreach>
    </update>
    <select id="getAllDevelopmentPatent" resultType="com.jsu.entity.DevelopmentPatent">
        SELECT * FROM development_patent
    </select>
    <select id="getDevelopmentPatentByClass" resultType="com.jsu.entity.DevelopmentPatent">
        SELECT * FROM development_patent as dp,student_information as si
                where dp.student_number=si.student_number
                    and si.classes = #{className}
                    and si.major = #{major}
                    and si.college = #{college}
                    and si.grade = #{grade}
    </select>
    <select id="getDevelopmentPatentByCollege" resultType="com.jsu.entity.DevelopmentPatent">
        SELECT * FROM development_patent as dp,student_information as si
                where dp.student_number=si.student_number
                    and si.college = #{college}
    </select>
    <select id="getDevelopmentPatentDetail" parameterType="com.jsu.dto.QueryDTO" resultType="com.jsu.entity.DevelopmentPatent">
        SELECT *
        FROM development_patent AS dp
        JOIN student_information AS si ON dp.student_number = si.student_number
        <where>
            <if test="studentName != null and studentName != ''">
                AND dp.student_name LIKE CONCAT('%',#{studentName},'%')
            </if>
            <if test="studentNumber != null and studentNumber != ''">
                AND dp.student_number LIKE CONCAT('%',#{studentNumber},'%')
            </if>
            <if test="classes != null and classes != ''">
                AND si.classes = #{classes}
            </if>
            <if test="grade != null and grade != ''">
                AND si.grade = #{grade}
            </if>
            <if test="major != null and major != ''">
                AND si.major = #{major}
            </if>
            <if test="college != null and college != ''">
                AND si.college = #{college}
            </if>
        </where>
    </select>
</mapper>