<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsu.mapper.ScoreMapper">
    <insert id="createStudentsGrade">
        INSERT IGNORE INTO score (
        student_number,
        student_name,
        course_number,
        course_score,
        course_credit,
        course_start_date_time
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.studentNumber},
            #{item.studentName},
            #{item.courseNumber},
            #{item.courseScore},
            #{item.courseCredit},
            #{item.courseStartDateTime}
            )
        </foreach>
    </insert>
    <update id="updateStudentsGrade">
       update score
       <set>
          <if test="courseScore!=null and courseScore != ''">
              course_score=#{courseScore},
          </if>
          <if test="courseCredit!=null and  courseCredit != ''">
              course_credit=#{courseCredit},
          </if>
       </set>
        where student_number=#{studentNumber} and course_number=#{courseNumber}
    </update>
</mapper>